/* You can add global styles to this file, and also import other style files */
@import "~@ag-grid-community/all-modules/dist/styles/ag-grid.css";
@import "~@ag-grid-community/all-modules/dist/styles/ag-theme-balham.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
    height: 100%;
}

body {
    margin: 10px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

